/* Configuración del estilo de la página y formulario */
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1b1b32; /* Fondo oscuro */
  color: #f5f6f7; /* Texto claro */
  font-family: Tahoma;
  font-size: 16px;
}

/* Estilo de títulos y párrafos */
h1, p {
  margin: 1em auto;
  text-align: center;
}

/* Configuración de tamaño y márgenes del formulario */
form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

/* Separación de secciones en el formulario */
fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

/* Estilo del último fieldset sin borde */
fieldset:last-of-type {
  border-bottom: none;
}

/* Estilo de las etiquetas y separación */
label {
  display: block;
  margin: 0.5rem 0;
}

/* Estilos para los campos de entrada, área de texto y listas desplegables */
input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

/* Fondo y borde oscuro en campos de texto y textarea */
input, textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

/* Estilo de elementos en línea como radio y checkbox */
.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

/* Botón de envío */
input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}

/* Estilo de campos de archivo */
input[type="file"] {
  padding: 1px 2px;
}

/* Estilo de enlaces */
a {
  color: #dfdfe2;
}